.board__grid {
    height: 90vh;
    max-height: 925px;

    @media only screen and (max-width: 920px) {
        height: 60vh;
        max-width: 650px;
        margin: auto;
    }
}

.board__details {
    display: flex;
    justify-content: center;
}

g.hexagon {
    fill: rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

g.highlight g.hexagon {
    fill: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
}

g.hover-highlight g.hexagon {
    fill: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

g text {
    font-size: 0.13em;
    stroke: none;
    fill: white;
    fill-opacity: 1;
    transition: fill-opacity 0.5s;
}
