.board {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.board__grid {
    // flex: 1 0 90vh;
    // width: 100%;
    // max-width: 650px;
    height: 90vh;
    max-height: 1200px;

    @media only screen and (max-width: 920px) {
        max-width: 650px;
    }
}

.board__details {
    display: flex;
    margin: auto;
}

g.hexagon {
    fill: rgba(0, 0, 0, 0.1);
}

g.highlight g.hexagon {
    fill: rgba(0, 0, 0, 0.8);
}

g text {
    font-size: 0.13em;
    stroke: none;
    fill: white;
    fill-opacity: 1;
    transition: fill-opacity 0.5s;
}
