.app {
    display: flex;
    flex-direction: column;

    h1 {
        width: 100%;
        text-align: center;
    }

    .app__details {
        flex: 1 0 15%;
    }

    .app__board {
        flex: 1 0 auto;
    }
}
