.app {
    display: flex;
    max-width: 1400px;
    padding: 2em;
    justify-content: space-between;
    margin: auto;

    h1.title {
        width: 100%;
        text-align: center;
    }

    .app__details {
        order: 1;
        flex: 0 1 33%;
    }

    .app__board {
        order: 2;
        flex: 1 0 auto;
    }

    @media only screen and (max-width: 920px) {
        flex-direction: column;
        padding: 1em 0;

        .app__details {
            order: 2;
            padding: 1em;
        }

        .app__board {
            order: 1;
        }
    }
}
